<!DOCTYPE html>
<html>

<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

  <div class="container">
    <h1 class="text-center">Bibliotek</h1>
    <form action="/filter" method="get">
      <label>Filter by Genre</label>
      <select class="form-control" name="id">
        <% for(var i=0; i < dropdown.length; i++) { %>
        <option value="<%= ids[i] %>"><%= dropdown[i] %></option>
        <% }
        %>
      </select>
      <button class="text-center" name="filterType" value="book">Filter Books</button>
      <button class="text-center" name="filterType" value="movie">Filter Movies</button>

    </form>
    <form>
      <p>Or view all</p>
      <button class="text-center" name="viewAll" value="books">View All Books</button>
      <button class="text-center" name="viewAll" value="movies">View All Movies</button>
    </form>

  </div>
  <!--     <div class="layout">
      <div class="bookhalf">
        <h2 class="text-center">Books</h2>
        <button class="text-center" name="book-btn" value="View Books" onclick="getBooks()">View All Books</button>
        <form>
          <label>Filter by Genre</label>
          <select class="form-control" id="sel1">
            <% for(var i=0; i < dropdown.length; i++) { %>
            <option><%= dropdown[i] %></option>
            <% }
            %>
          </select>
        </form>
      </div> -->
  <!--End of Book Half-->
  <!--    <div class="moviehalf">
        <h2 class="text-center">Movies</h2>
        <button class="text-center" name="book-btn" value="View Books" onclick="getMovies()">View All Movies</button>
        <form>
          <label>Filter by Genre</label>
          <select class="form-control" id="sel1">
            <% for(var i=0; i < dropdown.length; i++) { %>
            <option><%= dropdown[i] %></option>
            <% }
            %>
          </select>
        </form>
      </div>

    </div> -->
  <!--End of Layout-->
  <div class="addNew">
    <form>

    </form>

  </div>


  </div>
  <!--End of Container-->

</body>

</html>